<header>
  <div class="d-flex justify-content-between">


    <nav>
      <ul>
        <li><a routerLink="">Home</a></li>
        <!-- <li><a routerLink="/content1">Content 1</a></li>
        <li><a routerLink="/content2">Content 2</a></li> -->
        <li><a routerLink="services">Services</a></li>
        <li><a routerLink="content2">Projects</a></li>
        <li><a routerLink="contactUs">Contact</a></li>
        <li><a routerLink="content1">About</a></li>
        <button (click)="toggleMode()">Toggle Mode</button>
      </ul>
    </nav>
  </div>
</header>