<footer>
    <div class="footer-content">
        <div class="address">
          <p>City Vista,Kharadi Pune , Maharashtra - 411 014</p>
        </div>
        <div class="social-icons">
          <a href="https://www.facebook.com/login/"><img src="https://seeklogo.com/images/F/facebook-icon-logo-AEF3A8F447-seeklogo.com.png" style="width: 25px;" alt="Facebook"></a>
          <a href="#"><img src="https://www.umces.edu/sites/default/files/twitter.png" style="width: 25px;" alt="Twitter"></a>
          <a href="https://www.instagram.com/accounts/login/"><img src="https://seeklogo.com/images/I/instagram-logo-3368394263-seeklogo.com.png?v=638029198710000000" style="width: 25px;" alt="Instagram"></a>
        </div>
    </div>
        <!-- bottom footer -->
        <div class="rightReserve">
    <p><b>©</b> 2023 <b><i> DK & Friends.</i></b> All rights reserved.</p>
        </div>
  </footer>