<div class="sidebar-content" style="color: #6ffbc5;">

    <div><a routerLink=""><i class="fa fa-home" style="color: #6ffbc5;"></i></a></div>
    <div><a routerLink="content1"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512">
                <style>
                    svg {
                        fill: #70ffee
                    }
                </style>
                <path
                    d="M320 464c8.8 0 16-7.2 16-16V160H256c-17.7 0-32-14.3-32-32V48H64c-8.8 0-16 7.2-16 16V448c0 8.8 7.2 16 16 16H320zM0 64C0 28.7 28.7 0 64 0H229.5c17 0 33.3 6.7 45.3 18.7l90.5 90.5c12 12 18.7 28.3 18.7 45.3V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64z" />
            </svg></a></div>
    <div><a routerLink="content2"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 496 512">
                <path
                    d="M88 216c81.7 10.2 273.7 102.3 304 232H0c99.5-8.1 184.5-137 88-232zm32-152c32.3 35.6 47.7 83.9 46.4 133.6C249.3 231.3 373.7 321.3 400 448h96C455.3 231.9 222.8 79.5 120 64z" />
            </svg></a></div>
    <div><a routerLink="contactUs"><i class="fa fa-volume-control-phone" style="color: #6ffbc5;"></i></a></div>
    <div><a routerLink="content2"><svg xmlns="http://www.w3.org/2000/svg" height="1em"
                viewBox="0 0 192 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                <style>
                    svg {
                        fill: #38fcff
                    }
                </style>
                <path
                    d="M48 80a48 48 0 1 1 96 0A48 48 0 1 1 48 80zM0 224c0-17.7 14.3-32 32-32H96c17.7 0 32 14.3 32 32V448h32c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H64V256H32c-17.7 0-32-14.3-32-32z" />
            </svg></a>
    </div>


</div>