<!-- <div class="sidebar">
  <p>Here is sidebar</p><nav>
    <ul>
      <li>here is sidebar</li>
      <li>you can add your own items</li>
      <li>qwerty</li>
      <li>asdf</li>
    </ul>
  </nav>
</div> -->

<!-- <div class="sidebar-toggle" id="sidebarToggle">
  <div class="menu-icon">&#9776;</div> 
</div> -->


<div class="sidebar">
  <ul class="menuList">
    <li class="menuList"><a routerLink="">Home</a></li>
    <li class="menuList"><a routerLink="content1">About</a></li>
    <li class="menuList"><a routerLink="">Services</a></li>
    <li class="menuList"><a routerLink="">Contact</a></li>
    <li class="menuList"><a routerLink="content2">Projects</a></li>
  </ul>
</div>
